
<app-navbar class="etiqNavbar"></app-navbar>
<!-- PRESENTACION CAPACITACIONES -->
<div class="containerBackG">
  <div class="container-fluid py-5 bg-white">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center mb-4">
        <div class="mb-3" data-aos="fade-down" data-aos-duration="3000">
          <i class="fas fa-file-pdf fa-3x text-petrolero"></i>
        </div>
        <h4 class="py-2 px-4 d-inline-block bg-petrolero text-white" data-aos="fade-down" data-aos-duration="3000">
          DESCARGAS DISPONIBLES
        </h4>
        <p class="mt-4 text-dark fs-5 fw-semibold" data-aos="fade-up" data-aos-duration="3000">
          Accedé a nuestros folletos y capacitaciones disponibles. Todo lo que necesitás para seguir creciendo técnicamente.
        </p>
      </div>
    </div>

    <!-- CARDS DE DESCARGA -->
    <div class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-4 px-0">

      <!-- CARD 1 -->
      <div class="col" data-aos="zoom-in" data-aos-duration="3000">
        <div class="card h-100 shadow-sm">
          <div class="card-header text-white fw-semibold bg-petrolero2">
            Folleto Sello Mecánico "MREC"
          </div>
          <div class="card-body d-flex flex-column">
            <p class="parrafoCurDesc text-dark">
                El sello MREC sirve para líquidos exigentes y bombas DIN o ANSI..
            </p>
            <div class="mt-auto">
              <a href="https://drive.google.com/uc?export=download&id=1mFzdDgHvIQ3f0OLGmXVGhcUCeJxh7PaE" download class="btn btn-outline-primary w-100 ">
                <i class="fas fa-download me-2 aIcon"></i>Descargar PDF
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- CARD 2 -->
      <div class="col" data-aos="zoom-in" data-aos-duration="3000">
        <div class="card h-100 shadow-sm">
          <div class="card-header text-white bg-petrolero2 fw-semibold">
            "Bombas Alternativas"
          </div>
          <div class="card-body d-flex flex-column">
            <p class="parrafoCurDesc text-dark">
                Es un curso avanzado destinado a proyectistas, ingenieros de mantenimiento y supervisores de planta.
            </p>
            <div class="mt-auto">
              <a href="https://drive.google.com/uc?export=download&id=14unag-QfUKVADJl3VCiiwj0FWa7EhsT2" download class="btn btn-outline-primary w-100">
                <i class="fas fa-download me-2 aIcon"></i>Descargar PDF
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- CARD 3 -->
      <div class="col" data-aos="zoom-in" data-aos-duration="3000">
        <div class="card h-100 shadow-sm">
          <div class="card-header text-white bg-petrolero2 fw-semibold">
           "Sellos Mecánicos"
          </div>
          <div class="card-body d-flex flex-column">
            <p class="parrafoCurDesc text-dark">
                Es un curso avanzado destinado a
                            proyectistas, ingenieros de mantenimiento y supervisores de planta.
            </p>
            <div class="mt-auto">
              <a href="https://drive.google.com/uc?export=download&id=1HApgVGnA42SGcya5DlTvz87aBIDK9m7T" download class="btn btn-outline-primary w-100">
                <i class="fas fa-download me-2 aIcon"></i>Descargar PDF
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- CARD 4 -->
      <div class="col" data-aos="zoom-in" data-aos-duration="3000">
        <div class="card h-100 shadow-sm">
          <div class="card-header text-white bg-petrolero2 fw-semibold">
           "Bombas Centrífugas Nivel I"
          </div>
          <div class="card-body d-flex flex-column">
            <p class="parrafoCurDesc text-dark">
                Es un curso inicial destinado a mecánicos y
                            operadores de planta.
            </p>
            <div class="mt-auto">
              <a href="https://drive.google.com/uc?export=download&id=17Sg1bZ8x249crAE017WMU_GVt-DKsQCt" download class="btn btn-outline-primary w-100">
                <i class="fas fa-download me-2 aIcon"></i>Descargar PDF
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- CARD 5 -->
      <div class="col" data-aos="zoom-in" data-aos-duration="3000">
        <div class="card h-100 shadow-sm">
          <div class="card-header text-white bg-petrolero2 fw-semibold">
           "Bombas Centrífugas Nivel II"
          </div>
          <div class="card-body d-flex flex-column">
            <p class="parrafoCurDesc text-dark">
                Es un curso avanzado destinado a proyectistas,
                            ingenieros de mantenimiento y supervisores de planta.
            </p>
            <div class="mt-auto">
              <a href="https://drive.google.com/uc?export=download&id=16U80nK073tD3kEh5u2IqZeukhUdN5M8v" download class="btn btn-outline-primary w-100">
                <i class="fas fa-download me-2 aIcon"></i>Descargar PDF
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
 <app-footer></app-footer>