<app-navbar class="etiqNavbar"></app-navbar>

<!-- CONTENIDO DE CONTACTO -->
<div class="container-fluid fondo-contacto d-flex align-items-center justify-content-center">
    <div class="container py-5">
        <div class="row justify-content-center text-center mb-4">
            <div class="col-lg-10">
                <div class="mb-3">
                    <i class="fas fa-map-marked-alt fa-3x fa-3x text-petrolero" data-aos="fade-down" data-aos-duration="3000"></i>
                </div>
                <h4 class="titulo-contacto" data-aos="fade-down" data-aos-duration="3000">
                    CONTACTO Y UBICACIÓN
                </h4>
                <p class="descripcion-contacto text-center" data-aos="fade-up" data-aos-duration="3000">
                    Si necesitás comunicarte con nosotros o visitarnos, acá encontrarás nuestros datos y ubicación
                    exacta. Estamos para ayudarte en todo momento.
                </p>
            </div>
        </div>

        <!-- MAPA Y DATOS -->
        <div class="row justify-content-center align-items-stretch g-4" style="min-height: 350px;">
            <div class="col-md-6 d-flex" data-aos="zoom-in-left" data-aos-duration="3000">
                <div class="mapa-container flex-fill">
                    <iframe src="https://www.google.com/maps?q=-34.622785,-58.8310709&z=17&hl=es&output=embed"
                        width="100%" height="100%" allowfullscreen="" loading="lazy" style="border: 0;">
                    </iframe>
                </div>
            </div>
            <div class="col-md-6 d-flex">
                <div class="info-contacto flex-fill" data-aos="zoom-in-left" data-aos-duration="3000">
                    <h5 class="fw-bold"><strong>GISCO S.R.L.</strong></h5>
                    <hr>
                    <p class="mb-1 fs-5">Dirección: Ángel de Estrada 2107, La Reja, Moreno, Buenos Aires, Argentina.
                    </p>
                    <p class="mb-1 fs-5">
                        Teléfono: <a href="tel:+541153494664" class="sin-subrayado">54 11 5349-4664.</a>
                    </p>
                    <p class="mb-1 fs-5">
                        E-mail: <a href="mailto:gisco@gisco.com.ar?subject=Consulta&body=Hola%2C%20quiero%20hacer%20una%20consulta." rel="noopener noreferrer" class="sin-subrayado">gisco&#64;gisco.com.ar.</a>
                    </p>
                    <br>
                    <div class="col-lg-12 col-md-12 text-center animate-fade-up delay-2">
                        <div class="social-icons d-flex justify-content-center flex-wrap conRedes">
                            <a href="https://ar.linkedin.com/" target="_blank" class="social-icon"><i
                                    class="fab fa-linkedin"></i></a>
                            <a href="https://instagram.com" target="_blank" class="social-icon"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="mailto:gisco@gisco.com.ar?subject=Consulta&body=Hola%2C%20quiero%20hacer%20una%20consulta." target="_blank" rel="noopener noreferrer" class="social-icon"><i class="fas fa-envelope"></i></a>
                            <a href="https://wa.me/5491112345678" target="_blank" class="social-icon"><i
                                    class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>