/* whatsapp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    color: #007bff;  /* Color primario en azul */
    font-size: 28px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1.5px solid rgba(0, 123, 255, 0.7);  /* Border color con el mismo azul */
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s, border-color 0.3s;
    z-index: 1000;
  
}

.whatsapp-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 123, 255, 1);  /* Border color en hover */
}

/* barras con imagenes */
.containerEtiq{
    margin-bottom: -3%;
}

/* titulo cards container */
.tituloCardEstilo {    
    background-color: #208FD4;
    color: white;
    border: 2px solid #186da8;
    padding: 0.5rem 1.2rem;
    border-radius: 0.7rem;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.containerTit{
    padding-top: 5%;
}



