<!-- componente slider -->
<div>
  <app-slider></app-slider>
</div>
<!-- boton whatsapp 
<a href="https://wa.me/5491112345678" class="whatsapp-button" target="_blank" aria-label="Chat en WhatsApp">
  <i class="fab fa-whatsapp"></i>
</a>-->
<!-- componente quienes somos -->
<div class="containerEtiq">
  <app-quienes-somos></app-quienes-somos>
  <!-- AQUI NO HAY animacion de inicio de componente, intefiere con el modal de las cards-->
</div>

<!-- TITULOS CARDS PRODUCTOS Y SERVICIOS -->
<div class="container-fluid" id="idSecProdySer">
  <!-- Este id responde a un funcion tipo ancla en el componente navbar (click)="scrollTo('idSecProdySer')-->
  <div class="text-center containerTit">
    <h4 class="tituloCardEstilo">
      PRODUCTOS Y SERVICIOS
    </h4>
  </div>
</div>

<!-- componente container cards -->
<app-container-cards></app-container-cards>

<!-- componente videos -->
<div> 
  <app-videos></app-videos>
  <app-footer></app-footer>
</div>