<!-- NAVBAR FLOTANTE SUPERPUESTO AL SLIDER -->
<app-navbar></app-navbar>

<!-- SLIDER ESCRITORIO -->
<div class="position-relative contSLidPc" data-aos="slide-left" data-aos-delay="800" data-aos-duration="2200">
  <div class="carousel slide carouselExampleSlidesOnly" data-bs-ride="carousel" #carouselDesktop>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/slider/img1.png" class="img-fluid" alt="Imagen 1">
      </div>
      <div class="carousel-item">
        <img src="assets/slider/img2.png" class="img-fluid" alt="Imagen 2">
      </div>
      <div class="carousel-item">
        <img src="assets/slider/img3.png" class="img-fluid" alt="Imagen 3">
      </div>
    </div>
  </div>
</div>

<!-- SLIDER CELULAR -->
<div class="position-relative contSLidCel" data-aos="slide-left" data-aos-delay="800" data-aos-duration="2200">
  <div class="carousel slide carouselExampleSlidesOnlyCel" data-bs-ride="carousel" #carouselMobile
    (touchstart)="stopCarousel($event)" (touchend)="playCarousel($event)">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/slider/imgCel1.png" class="img-fluid" alt="Imagen 1">
      </div>
      <div class="carousel-item">
        <img src="assets/slider/imgCel2.png" class="img-fluid" alt="Imagen 2">
      </div>
      <div class="carousel-item">
        <img src="assets/slider/imgCel3.png" class="img-fluid" alt="Imagen 3">
      </div>
    </div>
  </div>
</div>