a {
  font-size: large;
  width: 20%;
  height: 20%;
}


.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: contain; /* o contain si querés ver toda la imagen */
}


/* Para pantallas medianas y grandes (>= 768px): mostrar el carrusel de escritorio, ocultar el de celular */
@media (min-width: 768px) {
  .contSLidPc {
    display: block;
  }
  .contSLidCel {
    display: none;
  }
}

/* Para pantallas pequeñas (< 768px): mostrar el carrusel de celular, ocultar el de escritorio */
@media (max-width: 767.98px) {
  .contSLidPc {
    display: none;
  }
  .contSLidCel {
    display: block;
  }
}
