<!-- TITULO -->
<div class="containerBackG">
    <div class="container-fluid">
        <div class="text-center my-3 pt-5" data-aos="fade-left">
            <h4
                class="text-secondary fw-bold p-2 bg-light border border-secondary border-1 rounded d-inline-block tituloCard">
                SERVICIO DE ALINEACION
            </h4>
        </div>
    </div>
    <div class="container-fluid" data-aos="fade-right">
        <div class="row d-flex justify-content-center align-items-center">

            <!-- CARDS PARA IMAGENES SERVICIO DE ALINEACION -->

            <!-- IMAGEN SERVICIO ALINEACION 1-->

            <div class="col-12 col-sm-6 col-lg-4 mb-4">
                <div class="card dark">
                    <img src="assets/cards/imgServAli/imgSerAli1.jpeg" class="card-img-top" alt="imgSerAli1.jpeg">
                    <div class="card-body">
                        <div class="text-section">
                            <h5 class="card-title">Card title</h5>
                        </div>
                        <div class="cta-section">
                            <!-- Botón para abrir el modal -->
                            <button type="button" class="btn btn-outline-light btnOpenModal" data-bs-toggle="modal"
                                data-bs-target="#customModalSerAli1">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- IMAGEN SERVICIO ALINEACION 2 -->
            <div class="col-12 col-sm-6 col-lg-4 mb-4">
                <div class="card dark">
                    <img src="assets/cards/imgServAli/imgSerAli2.jpeg" class="card-img-top" alt="imgSerAli2.jpeg">
                    <div class="card-body">
                        <div class="text-section">
                            <h5 class="card-title">Card title</h5>
                        </div>
                        <div class="cta-section">

                            <!-- Botón para abrir el modal -->
                            <button type="button" class="btn btn-outline-light btnOpenModal" data-bs-toggle="modal"
                                data-bs-target="#customModalSerAli2">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- MODALES -->

<!-- Modal card 1 -->
<div class="modal fade" id="customModalSerAli1" tabindex="-1" aria-labelledby="customModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Encabezado -->
            <div class="modal-header">
                <h5 class="modal-title">Título del Modal Grande</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Icono de enlace centrado-->
            <div class="containerIcono mx-auto m-3">
                <a href="assets/cards/imgServAli/imgSerAli1.jpeg" target="_blank"
                    class="text-secondary bg-white rounded-circle p-2 shadow">
                    <i class="fa-solid fa-link" title="Abrir imagen completa"></i>
                </a>
            </div>
            <!-- Imagen -->
            <div class="modal-img">
                <div class="fixed-size-container">
                    <img src="assets/cards/imgServAli/imgSerAli1.jpeg"
                        class="modal-image border border-secondary border-2 rounded" id="idModalImage1">
                </div>
            </div>

            <!-- Cuerpo -->
            <div class="modal-body justify-content-center text-center">
                modal1 modal1 modal1 modal1 modal1 modal1 modal1 modal1 modal1 modal1 modal1
                modal1 modal1 modal1 modal1 modal1 modal1 modal1 modal1 modal1 modal1 modal1
                modal1 modal1 modal1 modal1 modal1 modal1 modal1 modal1 modal1 modal1 modal1
                modal1 modal1 modal1 modal1 modal1 modal1
            </div>
            <!-- Pie de Modal -->
            <div class="modal-footer">
                <button type="button" class="btn modal-close-btn" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal card 2 -->
<div class="modal fade" id="customModalSerAli2" tabindex="-1" aria-labelledby="customModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Encabezado -->
            <div class="modal-header">
                <h5 class="modal-title">Título del Modal Grande</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Icono de enlace centrado-->
            <div class="containerIcono mx-auto m-3">
                <a href="assets/cards/imgServAli/imgSerAli2.jpeg" target="_blank"
                    class="text-secondary bg-white rounded-circle p-2 shadow">
                    <i class="fa-solid fa-link" title="Abrir imagen completa"></i>
                </a>
            </div>
            <!-- Imagen -->
            <div class="modal-img">
                <div class="fixed-size-container">
                    <img src="assets/cards/imgServAli/imgSerAli2.jpeg"
                        class="modal-image border border-secondary border-2 rounded" id="idModalImage2">
                </div>
            </div>

            <!-- Cuerpo -->
            <div class="modal-body justify-content-center text-center">
                Este es un **modal grande** Este es un **modal grande** Este es un **modal
                grande** Este es un **modal grande** Este es un **modal grande** Este es un
                **modal grande** Este es un **modal grande**
            </div>

            <!-- Pie de Modal -->
            <div class="modal-footer">
                <button type="button" class="btn modal-close-btn" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>