<div class="loading-container" *ngIf="!backgroundLoaded" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="300">
  <div class="background-overlay"></div>
  <div class="spinner-wrapper">
    <div class="energy-lines" data-aos="fade-left" data-aos-delay="1000"></div>
    <div class="logo-wrapper">
      <div class="spinner-logo"></div>
    </div>
    <p class="loading-text" data-aos="fade-up" data-aos-delay="1300">
      Conectando con <strong>GISCO S.R.L.</strong><br>
      Gracias por visitarnos. Un momento por favor ...
    </p>
  </div>
</div>