/* CONTENEDOR PRINCIPAL */
.containerBackG {
    background-color: white;
    overflow-x: hidden;
    padding-bottom: 2rem;
    overflow-y: hidden;
}

/* SECCIÓN QUIÉNES SOMOS */
.quienesSomosBox {
    background-color: #f9f9f9;
    border: 3px solid #1E6F9F;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imgLogoEscudo {
    width: 70px;
    height: 70px;
}

.tituloCardEstilo {
    background: #1E6F9F;
    color: white;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #E31505;
    border-left: 1px solid #E31505;
    padding: 0.5rem 1.2rem;
    border-radius: 0.7rem;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.textoQuienesSomos {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    line-height: 1.6;
    padding: 0 1rem;
}

/* ESPACIO ENTRE SECCIONES */
.espacioEntreSecciones {
    color: #1E6F9F;
    padding-top: 112px;
    text-align: center;
}

/* SECCIÓN SOLUCIONES PROFESIONALES */
.card {
    background-color: #fff;
    border-radius: 0.7em;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
    border: none;
    transition: transform 0.3s ease;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    border: 1px solid #ddd;
}

.card:hover {
    transform: translateY(-5px);
}

.icon-section {
    color: #1E6F9F;
}

.iconCustom {
    margin-bottom: 1rem;
}

.textoCardServ {
    font-size: 1rem;
    font-weight: 400;
    color: #555;
}

.titulo-responsive {
    font-size: 1.2rem;
    font-weight: bold;
}

.text-break {
    word-wrap: break-word;
}

/* ANIMACION SOLUCIONES PROFESIONALES */
.iconCustom {
  display: inline-block;
  cursor: pointer;
  transform-origin: center center;
}

.iconCustom:hover {
  animation: spinSmoothBounce 1s forwards;
}

@keyframes spinSmoothBounce {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(360deg);
  }
  90% {
    transform: rotate(345deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ANIMACION SECCION QUIÉNES SOMOS */
.fade-in-up {
    opacity: 1;
    transform: translateY(0);
    transition: transform 1.5s ease, opacity 1.5s ease;
}

.oculto-scroll {
    opacity: 0;
    transform: translateY(100px);
    /* igual que AOS fade-up */
}

/* SECCIÓN EMPRESAS CON CONTRATOS VIGENTES 
.card img {
    max-height: 60px;
    width: 100%;
    object-fit: contain;
    padding: 0.5rem;
    transition: transform 0.2s ease;
}

.card img:hover {
    transform: scale(1.05);
}
    */

/* RESPONSIVO */

/* ancho de cards para pantallas grandes */
@media (min-width: 992px) {
    .custom-row>div {
        max-width: 1000px;
    }
}

/* pantallas medianas */
@media (min-width: 768px) and (max-width: 1024px) {
    .contEmprLog {
        padding: 4rem;
    }
}

/* Teléfonos en horizontal (landscape) */
@media (max-width: 1500px) and (max-height: 430px) {
    .contEmprLog {
        padding: 4rem;
    }

    .cardsCon {
        zoom: 0.7;
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .espacioEntreSecciones {
        zoom: 0.6;
    }
}

/* teléfonos en vertical (portrait) */
@media (max-width: 430px) and (max-height: 1500px) {
    .titulo-responsive {
        font-size: 0.9rem;
    }

    .textoCardServ {
        font-size: 0.7rem;
    }

    .espacioEntreSecciones {
        zoom: 0.6;
    }
}