<!-- Espacio entre secciones, se agrega para no interferir con animaciones aos 
    (sin este espacio las secciones estan demasiado cerca y se activan al tiempo
     que se anima la seccion anterior) -->
     <div class="espacioEntreSecciones" style="padding-top: 120px;"></div>

<!-- video-cards.component.html -->
<div class="block-container border border-1 rounded mt-5" data-aos="fade-up" data-aos-duration="1500" id="idContainerVideo">

<!-- video 1-->
    <div class="card">
        <div class="video-container">
            <iframe
                src="https://www.youtube.com/embed/3sqyb71sb8s?autoplay=1&mute=1&modestbranding=1&controls=1&showinfo=0&rel=0"
                title="YouTube video"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>

        </div>
        <div class="card-body">
            <h5 class="card-title text-center"><small>CAMBIO DE SELLO MECÁNICO EN BOMBA CENTRÍFUGA</small></h5>
            <p class="card-text text-center">Guía visual del desmontaje y reemplazo de un sello mecánico paso a paso.</p>
        </div>
        <div class="card-footer">
            <a href="https://www.youtube.com/watch?v=3sqyb71sb8s" target="_blank">
                <i class="fas fa-link"></i> Ver en Youtube
            </a>
        </div>
    </div>
<!-- video 2-->
    <div class="card">
        <div class="video-container">
            <iframe
                src="https://www.youtube.com/embed/lGq81uVT2eI?autoplay=1&mute=1&modestbranding=1&controls=1&showinfo=0&rel=0"
                title="YouTube video"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>

        </div>
        <div class="card-body">
            <h5 class="card-title text-center"><small>ALINEACIÓN LÁSER DE BOMBA Y MOTOR</small></h5>
            <p class="card-text text-center">Demostración del proceso de alineación láser entre una bomba centrífuga y un motor eléctrico.</p>
        </div>
        <div class="card-footer">
            <a href="https://www.youtube.com/watch?v=lGq81uVT2eI&t=2s" target="_blank">
                <i class="fas fa-link"></i> Ver en Youtube
            </a>
        </div>
    </div>
</div>