<!-- video-cards.component.html -->
<div class="block-container border border-1 rounded">
    <div class="card">
        <div class="video-container">
            <iframe
            src="https://www.youtube.com/embed/84Tq-eAJIk4?autoplay=1&mute=1&modestbranding=1&controls=1&showinfo=0&rel=0"
            title="YouTube video"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        
        </div>
        <div class="card-body">
            <h5 class="card-title">Video 1</h5>
            <p class="card-text">Este es el primer video interesante que te queremos mostrar.</p>
        </div>
        <div class="card-footer">
            <a href="https://www.example.com" target="_blank">
                <i class="fas fa-link"></i> Visitar sitio
            </a>
        </div>
    </div>

    <div class="card">
        <div class="video-container">
            <iframe
            src="https://www.youtube.com/embed/UNfrxZI0uig?autoplay=1&mute=1&modestbranding=1&controls=1&showinfo=0&rel=0"
            title="YouTube video"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        
        </div>
        <div class="card-body">
            <h5 class="card-title">Video 2</h5>
            <p class="card-text">Este es el segundo video interesante que te queremos mostrar.</p>
        </div>
        <div class="card-footer">
            <a href="https://www.example.com" target="_blank">
                <i class="fas fa-link"></i> Visitar sitio
            </a>
        </div>
    </div>
</div>