<!-- TITULO -->
<div class="containerBackG">
    <div class="container-fluid">
        <div class="text-center my-3 pt-3" data-aos="fade-left">
            <h4
                class="text-secondary fw-bold p-2 bg-light border border-secondary border-1 rounded d-inline-block tituloCard">
                REPARACION DE SELLOS
            </h4>
        </div>
    </div>
    <div class="container-fluid" data-aos="fade-right">
        <div class="row d-flex justify-content-center align-items-center">

            <!-- CARDS PARA IMAGENES DE REPARACION DE SELLOS MECANICOS -->

            <!-- IMAGEN REPARACION DE SELLOS MECANICOS 1 -->

            <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-4">
                <div class="card dark">
                    <img src="assets/cards/imgRepSellMec/imgRepSell1.jpeg" class="card-img-top" alt="imgRepSell1.jpeg">
                    <div class="card-body">
                        <div class="text-section">
                            <h5 class="card-title">Card title</h5>
                        </div>
                        <div class="cta-section">
                            <!-- Botón para abrir el modal -->
                            <button type="button" class="btn btn-outline-light btnOpenModal" data-bs-toggle="modal"
                                data-bs-target="#customModalRepSell1">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- IMAGEN REPARACION DE SELLOS MECANICOS 2 -->
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-4">
                <div class="card dark">
                    <img src="assets/cards/imgRepSellMec/imgRepSell2.jpeg" class="card-img-top imgDifu"
                        alt="imgRepSell2.jpeg">
                    <div class="card-body">
                        <div class="text-section">
                            <h5 class="card-title">Card title</h5>
                        </div>
                        <div class="cta-section">

                            <!-- Botón para abrir el modal -->
                            <button type="button" class="btn btn-outline-light btnOpenModal" data-bs-toggle="modal"
                                data-bs-target="#customModalRepSell2">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<!-- MODALES -->

<!-- Modal card 1 -->
<div class="modal fade" id="customModalRepSell1" tabindex="-1" aria-labelledby="customModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Encabezado -->
            <div class="modal-header">
                <h5 class="modal-title">Título del Modal Grande</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Icono de enlace centrado-->
            <div class="containerIcono mx-auto m-3">
                <a href="assets/cards/imgRepSellMec/imgRepSell1.jpeg" target="_blank"
                    class="text-secondary bg-white rounded-circle p-2 shadow">
                    <i class="fa-solid fa-link" title="Abrir imagen completa"></i>
                </a>
            </div>
            <!-- Imagen -->
            <div class="modal-img">
                <div class="fixed-size-container">
                    <img src="assets/cards/imgRepSellMec/imgRepSell1.jpeg"
                        class="modal-image border border-secondary border-2 rounded">
                </div>
            </div>

            <!-- Cuerpo -->
            <div class="modal-body">
                modal1 modal1 modal1 modal1 modal1 modal1 modal1 modal1 modal1 modal1 modal1
                modal1 modal1 modal1 modal1 modal1 modal1 modal1 modal1 modal1 modal1 modal1
                modal1 modal1 modal1 modal1 modal1 modal1 modal1 modal1 modal1 modal1 modal1
                modal1 modal1 modal1 modal1 modal1 modal1
            </div>
            <!-- Pie de Modal -->
            <div class="modal-footer">
                <button type="button" class="btn modal-close-btn" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal card 2 -->
<div class="modal fade" id="customModalRepSell2" tabindex="-1" aria-labelledby="customModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Encabezado -->
            <div class="modal-header">
                <h5 class="modal-title">Título del Modal Grande</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Icono de enlace centrado-->
            <div class="containerIcono mx-auto m-3">
                <a href="assets/cards/imgRepSellMec/imgRepSell2.jpeg" target="_blank"
                    class="text-secondary bg-white rounded-circle p-2 shadow">
                    <i class="fa-solid fa-link" title="Abrir imagen completa"></i>
                </a>
            </div>
            <!-- Imagen -->
            <div class="modal-img">
                <div class="fixed-size-container">
                    <img src="assets/cards/imgRepSellMec/imgRepSell2.jpeg"
                        class="modal-image border border-secondary border-2 rounded imgDifu">
                </div>
            </div>

            <!-- Cuerpo -->
            <div class="modal-body">
                Este es un **modal grande** Este es un **modal grande** Este es un **modal
                grande** Este es un **modal grande** Este es un **modal grande** Este es un
                **modal grande** Este es un **modal grande**
            </div>

            <!-- Pie de Modal -->
            <div class="modal-footer">
                <button type="button" class="btn modal-close-btn" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>